.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.form_control label {
    padding: 0.7em 0;
    font-weight: bold;
    color: #000154;
}

.form_control select {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}
